*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #1f2937;
    color: #f9faf8;
    
}

.nav .menu ul li {
    list-style: none;
    display: inline;
    padding-right: 30px;
}

a{
    color: #fff;
}

.logo{
    font-size: 14px;
}

.hero-section {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #1f2937;
    color: #f9faf8;
    /* font-size: 16px; */
    padding: 0 20px;
    margin: auto;
}


.hero-text{
    padding: 40px;
    
}

.h-one{
    font-size: 48px;
    font-weight: 700;
}

.hero-text p{
    padding: 20px 0;
    font-size: 18px;
}

.hero-image{
    height: 30vh;
    width: 40vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.btn-primary{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;

}

.second-section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.images{
    height: 50v;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.images-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px;
    /* font-size: small; */
    
}

.dummy-images{
    height: 250px;
    width: 250px;
    border: 2px solid #3882f6;
    border-radius: 20px;
}

figcaption {
margin: auto;
}

.third-section {
    height: 50vh;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.author {
    /* align-self: flex-end; */
    float:right;
    font-size: 30px;
    font-style: normal;
}

.fourth-section{
    background-color: #fff;
    height: 50vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

}

.call-to-action {
    background-color: #3882f6;
    padding: 50px 300px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    border-radius: 20px;
    font-size: 18px;
}
.part-one {
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
}

.paragraph-action{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.signup-btn{
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    padding: 15px 40px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    float: right;
    /* justify-content: flex-start; */
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    height: 10vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    

}
